html {
  overflow-y: scroll;
}

body {
  margin-bottom: 35%;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 80px;
}

header {
  margin-bottom: 30px;
}

.page {
  display: none;
}


#library {
  padding-right: 100px;
  text-align: justify;
}

span {
  margin-top: 5px;
}

.title {
    text-align:center; 
    font-weight:bold;
}

.no-bullets {
    list-style-type:none;
    margin-top: 5px;
    font-size: small;
}

  /* Remove default bullets */
ul, #all {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#all {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

#closed::before {
  visibility: hidden;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.hidden {
  display: none;
}




.object {
  font-weight: bold;
  font-size: medium;
}

.string {
  font-size: small;
  font-weight: lighter;
}

.li {
  list-style-type: disc;
  margin-left: 30px;
}
