body {
    padding: 20px;
    width: 200px;
    height: 80px;
}

.btn {
    padding: 5px;
    border: 50px;
}

#loading-filter {
    width: 105%; 
    height: 105%; 
    opacity: 0.75; 
    filter: alpha(opacity=75); 
    background-color: red; 
    position: fixed; 
    z-index:500;
}

#loading-block {
    display: none;
}