body {
    min-width: 350px;
    width: fit-content;
    height: fit-content;
    margin: 10px ;
    font-size: small;
}

.buttons {
    padding: 10px;
    text-align: center;
    height: 120px;

}

.info {
    width: fit-content;
    font-size: x-large;
    text-align: center;
}

.feedback {
    padding: 20px;
}

.hide {
    display: none;
}