body {
    min-width: 350px;
    width: fit-content;
    height: fit-content;
    margin: 10px ;
    font-size: small;
}

.buttons {
    padding: 10px;
    text-align: center;
    min-height: 120px;
}

.info {
    width: fit-content;
    font-size: x-large;
    text-align: center;
}

.form-select {
    width: 120px;
    font-size: small;
}

.form-select option {
    font-size: small;
    margin: 10px;
}

.feedback {
    padding: 20px;
}

.btn {
    font-size: small;
}