body {
    min-width: 450px;
    height: fit-content;
    margin: 10px ;
}

.buttons {
    padding: 10px;
    text-align: center;
    height: 100px;
}

.info {
    width: fit-content;
    font-size: x-large;
    text-align: center;
}

.feedback {
    padding: 20px;
}

.hide {
    display: none;
}